body {
    background-color: violet;
    margin: 0;
}

p {
    background-color: lightgray;
    border: solid;
    border-color: lightgreen;
    border-width: 2px;
}

p:nth-child(1) {
    height: 100px;
    padding: 20px;
    margin: 0;
}

p:nth-child(2){
    width: 50%;
    padding: 1.2em;
    margin-top: 20px;
    margin-right: 5px;
    margin-bottom: 20px;
    margin-left: 5px;
}

p:nth-child(3) {
    height: 200px;
    width: 200px ;
    padding: -30px;
    margin: auto;
    overflow: auto;
}

